@model IEnumerable<CADFundamentalsWebAPI.Models.UberCategory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="FullList">Full List</a>
</p>
<div class="navbar">
</div>
@foreach (var item in Model)
{
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".{unique}">
                    @Html.DisplayFor(modelItem => item.Title)
                </button>
            </div>
        </div>
    </div>
}
