@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>to the Cloud Application Fundamentals Learning Colliseum</h2>
    <h3>This Web API is designed to fulfill all your needs in effortlessly diving into IT learning path centered on developing cloud apps</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
