@{
    ViewData["Title"] = "Privacy Policy ";
}
<h1>@ViewData["Title"]</h1>
<h3>
    Cittadini di San Gimignano, ascoltate bene le mie parole! Devi pentirti! Pentiti e cerca il perdono! Perché i tuoi modi malvagi hanno subito l'ira di un demone! Evocato dai tuoi peccati, ora cammina nel nostro mondo, ammantato di ombre e tenebre! E ovunque calpesta, SEGUE LA MORTE! Perchè lo chiedi? Perché hai smarrito e sacrificato la tua libertà a quel miserabile Lorenzo de 'Medici.
    Sei burattini, ridotti in schiavitù dalle corde della borsa! Vinto da parole velenose! Hai perso la tua virtù. Hai perso la tua dignità. Hai perso la tua fede! E questo attira il demone a nutrirsi. E daranno da mangiare lo faranno. Tutto mentre vaghi perso nell'ignoranza. Sappi che uomini buoni sono morti proteggendoti dai mali. Uomini che hanno cercato di salvare queste terre, di purificarle!
    Unisciti a me in preghiera, figli miei, in modo che insieme possiamo stare contro questa oscurità!
    Porgi l'orecchio, o cielo, e io parlerò; e ascolta, o terra, le parole della mia bocca. Lascia che i miei insegnamenti cadano sotto la pioggia. Il mio discorso si distingue come la rugiada. Come gocce di pioggia sull'erba tenera e come docce sull'erba. Poiché io proclamo il nome del Signore; attribuire grandezza al nostro Dio. Lui è la roccia, il suo lavoro è perfetto; poiché tutte le sue vie sono giustizia, un Dio di verità e senza ingiustizia; è giusto e giusto.
    Si sono corrotti; non sono i Suoi figli, a causa della loro imperfezione: una generazione perversa e storta. Ti occupi così del Signore, o gente sciocca e saggia? Non è tuo padre che ti ha comprato? Non ti ha creato e stabilito?
</h3>

<p>Use this page to detail your site's privacy policy.</p>
